<h2><%= @clip.title %></h2>

<p><%= @clip.url %></p>
<hr>
<%= link_to "Edit", edit_clip_path(@clip), :class => 'btn btn-default' %>
<%= link_to "Delete", clip_path(@clip),
method: :delete,
data: {confirm: 'Are you sure?'},
 :class => 'btn btn-danger' %>

<hr>

<%= render 'reviews/reviews' %>
<%= render 'reviews/form' %>
