<h2>Title: <%= @clip.title %></h2>

<p>URL to Clip: <%= @clip.url %></p>

<iframe width=800 height=450
src="http://www.youtube.com/embed/dzHcrUUjn0I"
frameborder="0"></iframe></br />


Streamers:</br />
<ul>
  <% @clip.streamers.each do |s| %>
  <li><%= s.name %>       Make favorite?<%= check_box_tag 'streamer_favorite[]', checked = false, s.favorite, class: 'clip', :favorite => "streamer_favorite_#{s.favorite}" %></li>


  <% end %>

</ul>

<%= link_to "Edit", edit_clip_path(@clip), :class => 'btn btn-default' %>
<%= link_to "Delete", clip_path(@clip),
method: :delete,
data: {confirm: 'Are you sure?'},
 :class => 'btn btn-danger' %>




<hr>



<%= render 'reviews/reviews' %>
<%= link_to "Create Review", new_clip_review_path(@clip), :class => 'btn btn-default' %>
